.titulos{
    font-family: 'Andada Pro', serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.sectionUno, .sectionDos, .sectionTres, .sectionCuatro, .mainContacto {
    background-color: #ecfcfa
}
