
.sectionUno {
    width: auto;
}


.parrafoServicios{
    font-family: 'Andada Pro', serif;
    text-align: center;
    font-size: large;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.sectionUno nav div img:hover{
    transition: all, 0.9s;
}

.sectionUno div div div img {
    align-items: center;
}