
.textoParrafos{
    font-family: 'Andada Pro', serif;
    text-align: center;
    margin: 3%;
    text-align: center;
    font-size: smaller;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: large;
    text-align: justify;
}